<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 유의사항 : 미리 등록 해 두려면 해당 클래스가 실제로 존재하고 있어야 함 -->
	<typeAliases>
		<typeAlias type="com.project.fitty.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.project.fitty.user.model.vo.User" alias="User"/>
		<typeAlias type="com.project.fitty.product.model.vo.Product" alias="Product" />
		<typeAlias type="com.project.fitty.schedule.model.vo.Booking" alias="Booking" />
		<typeAlias type="com.project.fitty.employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.project.fitty.employee.model.vo.Employee" alias="Approval"/>
		<typeAlias type="com.project.fitty.machine.model.vo.Machine" alias="Machine"/>
		<typeAlias type="com.project.fitty.locker.model.vo.Locker" alias="Locker"/>
		<typeAlias type="com.project.fitty.alert.model.vo.Alert" alias="Alert"/>
		<typeAlias type="com.project.fitty.mail.model.vo.Semail" alias="Semail"/>
		<typeAlias type="com.project.fitty.mail.model.vo.Remail" alias="Remail"/>
	</typeAliases>
	
	<!-- environment
		 spring 쓰기 전 : 여기에 environment 태그로 dataSource (연결할 db정보) 등록
		 spring 사용 후 : root-context.xml 파이에서 dataSource 등록
	 -->
	 
	 <!-- 유의사항 : 미리 등록해두려면 해당 mapper 파일이 진짜 존재해ㅑ 함! 뿐만 아니라 각각의 mapper 파일마다 namespace 도 지정해야함 -->
	 <mappers>
	 	<mapper resource="/mappers/employee-mapper.xml"/>
	 	<mapper resource="/mappers/user-mapper.xml"/>
	 	<mapper resource="/mappers/product-mapper.xml"/>
	 	<mapper resource="/mappers/schedule-mapper.xml"/>
	 	<mapper resource="/mappers/attendance-mapper.xml"/>
	 	<mapper resource="/mappers/approval-mapper.xml"/>
	 	<mapper resource="/mappers/machine-mapper.xml"/>
	 	<mapper resource="/mappers/locker-mapper.xml"/>
	 	<!-- <mapper resource="/mappers/alert-mapper.xml"/>  -->
	 	
	 </mappers>
	 
</configuration>
