<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="approvalResult" type="Approval">
		<result column="appr_no" property="apprNo"/>
		<result column="appr_doc_type" property="apprDocType"/>
		<result column="appr_title" property="apprTitle"/>
		<result column="appr_enroll_date" property="apprEnrollDate"/>
		<result column="appr_status" property="apprStatus"/>
		<result column="appr_comment" property="apprComment"/>
		<result column="appr_date" property="apprDate"/>
		<result column="emp_name" property="empName"/>
		<result column="appr_level" property="apprLevel"/>
	</resultMap>
	<resultMap id="empResult" type="Employee">
		<result column="emp_name" property="empName"/>
		<result column="emp_no" property="empNo"/>
		<result column="gr_appr_grade" property="grApprGrade"/>
		<result column="gr_grade" property="grGrade"/>
		<result column="emp_grade" property="empGrade"/>
	</resultMap>
	<resultMap id="ApprovalMemberResult" type="ApprovalMember">
		<result column="emp_name" property="empName"/>
		<result column="emp_no" property="empNo"/>
		<result column="gr_appr_grade" property="grApprGrade"/>
		<result column="appr_mem_count" property="apprMemCount"/>
		<result column="appr_level" property="apprLevel"/>
		<result column="appr_date" property="apprDate"/>
	</resultMap>
	<resultMap id="ApprVacationResult" type="ApprVacation">
		<result column="emp_name" property="empName"/>
		<result column="emp_no" property="empNo"/>
		<result column="appr_no" property="apprNo"/>
		<result column="appr_enroll_Date" property="apprEnrollDate"/>
		<result column="gr_appr_grade" property="grApprGrade"/>
		<result column="vct_status" property="vctStatus"/>
		<result column="vct_start_date" property="vctStartDate"/>
		<result column="vct_end_Date" property="vctEndDate"/>
		<result column="vct_reason" property="vctReason"/>
		<result column="vct_count" property="vctCount"/>
		<result column="appr_doc_type" property="apprDocType"/>
	</resultMap>
	<resultMap id="ApprOvertimeResult" type="ApprOvertime">
		<result column="emp_name" property="empName"/>
		<result column="emp_no" property="empNo"/>
		<result column="appr_no" property="apprNo"/>
		<result column="appr_enroll_Date" property="apprEnrollDate"/>
		<result column="gr_appr_grade" property="grApprGrade"/>
		<result column="ovt_date" property="ovtDate"/>
		<result column="ovt_start_time" property="ovtStartTime"/>
		<result column="ovt_end_time" property="ovtEndTime"/>
		<result column="ovt_reason" property="ovtReason"/>
		<result column="appr_doc_type" property="apprDocType"/>
	</resultMap>
	<resultMap id="ApprExpenseResult" type="ApprExpense">
		<result column="emp_name" property="empName"/>
		<result column="emp_no" property="empNo"/>
		<result column="appr_no" property="apprNo"/>
		<result column="appr_enroll_Date" property="apprEnrollDate"/>
		<result column="gr_appr_grade" property="grApprGrade"/>
		<result column="appr_title" property="apprTitle"/>
		<result column="exp_mem" property="expMem"/>
		<result column="exp_total_amount" property="expTotalAmount"/>
		<result column="exp_reason" property="expReason"/>
		<result column="appr_doc_type" property="apprDocType"/>
	</resultMap>
	<resultMap id="ApprExpDetailResult" type="ApprExpDetail">
		<result column="exp_date" property="expDate"/>
		<result column="exp_status" property="expStatus"/>
		<result column="exp_amount" property="expAmount"/>
		<result column="exp_history" property="expHistory"/>
		<result column="exp_note" property="expNote"/>
	</resultMap>
	
	<select id="selectEmpList" resultMap="empResult">
		select 
			   emp_name
			 , emp_no
			 , gr_name
			 , emp_grade
			 , gr_appr_grade
		  from tb_emp
		  join tb_grade using (emp_grade)
		 order by gr_name, emp_name
	</select>
	
	<insert id="insertApproval">
		insert
		  into tb_approval
		  (
		    appr_no
		  , emp_no
		  , appr_doc_type
		  , appr_title
		  , appr_enroll_date
		  , appr_status
		  , appr_mem_count
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.nextval
		  , #{empNo}
		  , #{apprDocType}
		  , #{apprTitle}
		  , default
		  , 1
		  , #{apprMemCount}
		  )
	</insert>
	
	<insert id="insertApprMember">
		insert
		  into tb_appr_mem
		  (
		    appr_no
		  , emp_no
		  , appr_level
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.currval
		  , #{empNo}
		  , #{apprLevel}
		  )
	</insert>
	
	<insert id="insertApprVct">
		insert
		  into tb_appr_vacation
		  (
		    appr_no
		  , vct_status
		  , vct_start_date
		  , vct_end_date
		  , vct_reason
		  , vct_count
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.currval
		  , #{vctStatus}
		  , #{vctStartDate}
		  , #{vctEndDate}
		  , #{vctReason}
		  , #{vctCount}
		  )
	</insert>
	
	<insert id="insertApprOvt">
		insert 
		  into tb_appr_overtime
		  (
		    appr_no
		  , ovt_date
		  , ovt_start_time
		  , ovt_end_time
		  , ovt_reason
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.currval
		  , #{ovtDate}
		  , #{ovtStartTime}
		  , #{ovtEndTime}
		  , #{ovtReason}
		  )
	</insert>
	
	<insert id="insertApprExp">
		insert
		  into tb_appr_exp
		  (
		    appr_no
		  , exp_mem
		  , exp_date
		  , exp_total_amount
		  , exp_reason
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.currval
		  , #{expMem}
		  , #{expDate}
		  , #{expTotalAmount}
		  , #{expReason}
		  )
	</insert>
	
	<insert id="insertApprExpDetail">
		insert
		  into tb_exp_detail
		  (
		    appr_no
		  , exp_date
		  , exp_status
		  , exp_amount
		  , exp_history
		  , exp_note
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.currval
		  , #{expDate}
		  , #{expStatus}
		  , #{expAmount}
		  , #{expHistory}
		  , #{expNote}
		  )
	</insert>
	
	<insert id="insertApprFile">
		insert
		  into tb_file
		  (
		    file_no
		  , origin_name
		  , change_name
		  , file_re_type
		  , file_re_no
		  )
		  values
		  (
		    seq_file_no.nextval
		  , #{originName}
		  , #{changeName}
		  , 'A'
		  , 'fitty-2022-00' || seq_apno.currval
		  )
	</insert>
	
	<select id="selectScheduleListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		  join tb_emp e on (e.emp_no = ap.emp_no)
		 where appr_level = 2
		   and ap.appr_status = 1
		   and am.emp_no = #{empNo}
		   
	</select>
	
	<select id="selectScheduleList" resultMap="approvalResult">
		select 
			   appr_enroll_date
			 , appr_title
			 , appr_doc_type
			 , emp_name
			 , ap.appr_no
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		  join tb_emp e on (e.emp_no = ap.emp_no)
		 where appr_level = 2
		   and ap.appr_status = 1
		   and am.emp_no = #{empNo}
		 order
		    by appr_enroll_date desc
	</select>

	<select id="selectListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'N'
	</select>
	
	<select id="selectList" resultMap="approvalResult">
		select 
			   appr_no
			 , appr_doc_type
			 , appr_title
			 , appr_enroll_date
			 , appr_status
			 , appr_comment
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'N'
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="ajaxSelectListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_status = #{apprStatus}
		   and appr_storage = 'N'
	</select>
	
	<select id="ajaxSelectList" resultMap="approvalResult">
		select 
			   appr_no
			 , appr_doc_type
			 , appr_title
			 , appr_enroll_date
			 , appr_status
			 , appr_comment
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_status = #{apprStatus}
		   and appr_storage = 'N'
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="selectStorageListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'Y'
	</select>
	
	<select id="selectStorageList" resultMap="approvalResult">
		select 
			   appr_no
			 , appr_doc_type
			 , appr_title
			 , appr_enroll_date
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'Y'
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="selectSignListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status in (3,4)
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="selectSignList" resultMap="approvalResult">
		select 
			   appr_enroll_date
			 , appr_doc_type
			 , appr_date
			 , appr_title
			 , ap.appr_comment
			 , ap.appr_no
			 , ap.appr_status
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status in (3,4)
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="ajaxSelectSignListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status = #{apprStatus}
	</select>
	
	<select id="ajaxSelectSignList" resultMap="approvalResult">
		select 
			   appr_enroll_date
			 , appr_doc_type
			 , appr_date
			 , appr_title
			 , ap.appr_comment
			 , ap.appr_no
			 , ap.appr_status
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status = #{apprStatus}
		 order
		    by appr_enroll_date desc
	</select>
	
	<insert id="insertStorage">
		insert
		  into tb_approval
		  (
		    appr_no
		  , emp_no
		  , appr_doc_type
		  , appr_title
		  , appr_enroll_date
		  , appr_storage
		  , appr_mem_count
		  )
		  values
		  (
		    'fitty-2022-00' || seq_apno.nextval
		  , #{empNo}
		  , #{apprDocType}
		  , #{apprTitle}
		  , default
		  , 'Y'
		  , #{apprMemCount}
		  )
	</insert>
	
	<select id="selectWaitingListCount" resultType="_int">
		select count(*)
		  from (
	            select a.appr_no, a.appr_enroll_date, a.appr_doc_type, a.appr_title, e.emp_name
	                 , am.appr_level appr_level, 
	                 (
	                    select count(appr_date)
	                      from tb_appr_mem
	                     where appr_no = a.appr_no
	                 ) complete_count
	              from tb_approval a
	              join tb_appr_mem am on (a.appr_no = am.appr_no)
	              join tb_Emp e on (a.emp_no = e.emp_no)
	             where am.emp_no = #{empNo}
		        )
		where complete_count + 1 = appr_level
	</select>
	
	<select id="selectWaitingList" resultMap="approvalResult">
		select *
		  from (
	            select a.appr_no, a.appr_enroll_date, a.appr_doc_type, a.appr_title, e.emp_name
	                 , am.appr_level appr_level, 
	                 (
	                    select count(appr_date)
	                      from tb_appr_mem
	                     where appr_no = a.appr_no
	                 ) complete_count
	              from tb_approval a
	              join tb_appr_mem am on (a.appr_no = am.appr_no)
	              join tb_Emp e on (a.emp_no = e.emp_no)
	             where am.emp_no = #{empNo}
		        )
		where complete_count + 1 = appr_level
		order
		    by appr_enroll_date desc
	</select>
	
	<select id="selectMember" resultMap="ApprovalMemberResult">
		select am.emp_no
		     , emp_name
		     , gr_appr_grade
		     , appr_mem_count
		     , appr_level
		     , appr_date
		  from tb_approval ap
		  join tb_appr_mem am on (am.appr_no = ap.appr_no)
		  join tb_emp e on (am.emp_no = e.emp_no)
		  join tb_grade g on (e.emp_grade = g.emp_grade)
		 where am.appr_no = #{appr_no}
		 order
		    by appr_level
	</select>
	
	<select id="selectVacation" resultMap="ApprVacationResult">
		select emp_no
		     , emp_name
		     , ap.appr_no
		     , to_char(appr_enroll_date, 'YYYY-MM-DD') appr_enroll_date
		     , gr_appr_grade
		     , vct_status
		     , vct_start_date
		     , vct_end_date
		     , vct_reason
		     , vct_count
		     , appr_doc_type
		  from tb_approval ap
		  join tb_emp using (emp_no)
		  join tb_grade using (emp_grade)
		  join tb_appr_vacation vct on (ap.appr_no = vct.appr_no)
		 where vct.appr_no = #{appr_no}
	</select>
	
	<select id="selectOvertime" resultMap="ApprOvertimeResult">
		select emp_no
		     , emp_name
		     , ap.appr_no
		     , to_char(appr_enroll_date, 'YYYY-MM-DD') appr_enroll_date
		     , gr_appr_grade
		     , ovt_date
		     , ovt_start_time
		     , ovt_end_time
		     , ovt_reason
		     , appr_doc_type
		  from tb_approval ap
		  join tb_emp using (emp_no)
		  join tb_grade using (emp_grade)
		  join tb_appr_overtime ovt on (ap.appr_no = ovt.appr_no)
		 where ovt.appr_no = #{appr_no}
	</select>
	
	<select id="selectExpense" resultMap="ApprExpenseResult">
		select emp_no
		     , emp_name
		     , ap.appr_no
		     , to_char(appr_enroll_date, 'YYYY-MM-DD') appr_enroll_date
		     , gr_appr_grade
		     , appr_title
		     , exp_mem
		     , exp_total_amount
		     , exp_reason 
		     , appr_doc_type
		  from tb_approval ap
		  join tb_emp using (emp_no)
		  join tb_grade using (emp_grade)
		  join tb_appr_exp exp on (ap.appr_no = exp.appr_no)
		 where exp.appr_no = #{appr_no}
	</select>
	
	<select id="selectExpDetail" resultMap="ApprExpDetailResult">
		select exp_date
		     , exp_status
		     , exp_amount
		     , exp_history
		     , exp_note
		  from tb_approval ap
		  join tb_exp_detail ed on (ap.appr_no = ed.appr_no)
		 where ed.appr_no = #{appr_no}
	</select>
	
	<update id="updateApproval">
		update tb_approval
		   set appr_status = #{apprStatus}
		 where appr_no = #{apprNo}
	</update>
	
	<update id="updateApprovalMem">
		update tb_appr_mem
		   set appr_date = to_char(sysdate, 'YYYY-MM-DD')
		     , appr_status = 'Y'
		 where appr_no = #{apprNo}
		   and emp_no = #{empNo}
	</update>
	
	<update id="updateAtt1">
		update tb_att
		   set att_status = #{vctStatus}
		 where emp_no = #{empNo}
		   and att_date between #{vctStartDate} and #{vctEndDate}
	</update>
	
	<update id="updateAtt2">
		update tb_att
		   set att_status = 'P'
		     , att_plus_work = 'P'
		 where empNo = #{empNo}
		   and att_date = #{ovtDate}
	</update>
	
	<insert id="insertVacation">
		insert
		  into tb_vacation
		  (
		    vac_no
		  , emp_no
		  , vac_oper
		  , vac_status
		  , vac_normal
		  , vac_start
		  , vac_end
		  , vac_reason
		  , vac_create_date
		  , att_status
		  )
		  values
		  (
		    seq_vac_no.nextval
		  , #{empNo}
		  , #{vctCount}
		  , 'M'
		  , 'N'
		  , #{vctStartDate}
		  , #{vctEndDate}
		  , #{vctReason}
		  , default
		  , 'N'
		  )
	</insert>
	
	<update id="updateReturnAppr">
		update tb_approval
		   set appr_status = 4
		     , appr_comment = #{apprComment}
		 where appr_no = #{apprNo}
	</update>
	
	<update id="updateReturnApprMem">
		update tb_appr_mem
		   set appr_status = 'N'
		     , appr_comment = #{apprComment}
		 where appr_no = #{apprNo}
		   and emp_no = #{empNo}
	</update>
	
	<delete id="deleteApproval">
		delete
		  from tb_approval
		 where appr_no = #{apprNo}
	</delete>
	
	<delete id="deleteVacation">
		delete
		  from tb_appr_vacation
		 where appr_no = #{apprNo}
	</delete>
	
	<delete id="deleteOvertime">
		delete
		  from tb_appr_overtime
		 where appr_no = #{apprNo}
	</delete>
	
	<delete id="deleteExpense">
		delete
		  from tb_appr_exp
		 where appr_no = #{apprNo}
	</delete>
	
	<delete id="deleteExpDetail">
		delete
		  from tb_exp_detail
		 where appr_no = #{apprNo}
	</delete>

</mapper>