<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="approvalResult" type="Approval">
		<result column="appr_no" property="apprNo"/>
		<result column="appr_doc_type" property="apprDocType"/>
		<result column="appr_title" property="apprTitle"/>
		<result column="appr_enroll_date" property="apprEnrollDate"/>
		<result column="appr_status" property="apprStatus"/>
		<result column="appr_comment" property="apprComment"/>
		<result column="appr_date" property="apprDate"/>
	</resultMap>
	<resultMap id="empResult" type="Employee">
		<result column="emp_name" property="empName"/>
		<result column="gr_name" property="grName"/>
		<result column="emp_grade" property="empGrade"/>
	</resultMap>
	
	<select id="selectEmpList" resultMap="empResult">
		select 
			   emp_name
			 , gr_name
			 , emp_grade
		  from tb_emp
		  join tb_grade using (emp_grade)
		 order by gr_name, emp_name
	</select>

	<select id="selectListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'N'
	</select>
	
	<select id="selectList" resultMap="approvalResult">
		select 
			   appr_no
			 , appr_doc_type
			 , appr_title
			 , appr_enroll_date
			 , appr_status
			 , appr_comment
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'N'
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="ajaxSelectListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_status = #{apprStatus}
		   and appr_storage = 'N'
	</select>
	
	<select id="ajaxSelectList" resultMap="approvalResult">
		select 
			   appr_no
			 , appr_doc_type
			 , appr_title
			 , appr_enroll_date
			 , appr_status
			 , appr_comment
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_status = #{apprStatus}
		   and appr_storage = 'N'
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="selectStorageListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'Y'
	</select>
	
	<select id="selectStorageList" resultMap="approvalResult">
		select 
			   appr_no
			 , appr_doc_type
			 , appr_title
			 , appr_enroll_date
		  from tb_approval
		 where emp_no = #{empNo}
		   and appr_storage = 'Y'
		 order
		    by appr_enroll_date desc
	</select>
	
	<select id="selectSignListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status in (3,4)
	</select>
	
	<select id="selectSignList" resultMap="approvalResult">
		select 
			   appr_enroll_date
			 , appr_doc_type
			 , appr_date
			 , appr_title
			 , ap.appr_comment
			 , ap.appr_no
			 , ap.appr_status
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status in (3,4)
	</select>
	
	<select id="ajaxSelectSignListCount" resultType="_int">
		select
		   	   count (*)
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status = #{apprStatus}
	</select>
	
	<select id="ajaxSelectSignList" resultMap="approvalResult">
		select 
			   appr_enroll_date
			 , appr_doc_type
			 , appr_date
			 , appr_title
			 , ap.appr_comment
			 , ap.appr_no
			 , ap.appr_status
		  from tb_approval ap
		  join tb_appr_mem am on(am.appr_no = ap.appr_no)
		 where am.emp_no = #{empNo}
		   and ap.appr_status = #{apprStatus}
	</select>

</mapper>