<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

<resultMap id="attendanceResult" type="Attendance">
		<result column="att_no" property="attNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="att_date" property="attDate"/>
		<result column="att_in" property="attIn"/>
		<result column="att_out" property="attOut"/>
		<result column="att_status" property="attStatus"/>
		<result column="att_plus_work" property="attPlusWork"/>
		<result column="att_nwork_time" property="attNworkTime"/>
		<result column="att_pwork_time" property="attPworkTime"/>
		<result column="countO" property="countO"/>
		<result column="countX" property="countX"/>
		<result column="countL" property="countL"/>
		<result column="countE" property="countE"/>
		<result column="countYH" property="countYH"/>
		<result column="countV" property="countV"/>
		<result column="countPtime" property="countPtime"/>
		<result column="nowTime" property="nowTime"/>
		<result column="gapHour" property="gapHour"/>
		<result column="gapMinute" property="gapMinute"/>
		<result column="gapSecond" property="gapSecond"/>
		<result column="attIn" property="attIn"/>
		<result column="attOut" property="attOut"/>
		<result column="gr_name" property="grName"/>
		<result column="emp_name" property="empName"/>
		<result column="emp_enroll_date" property="empEnrollDate"/>
		<result column="work_year" property="workYear"/>
		<result column="per_year" property="perYear"/>
		<result column="per_month" property="perMonth"/>
		<result column="gap_year_vac" property="gapYearVac"/>
		<result column="gap_vac" property="gapVac"/>
</resultMap>

<select id="attFlag" resultMap="attendanceResult">
		select nvl(att_in, '0') as "att_in"
     		 , nvl(att_out, '0') as "att_out"
		  from tb_att
		 where emp_no = #{empNo}
		   and att_date = to_char(sysdate,'yyyy-mm-dd')
	</select>

 <update id="updateWorkInTime">
 	update tb_att
	   set att_in = (select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual)
	 where emp_no = #{empNo}
	   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>
 
 
 <update id="updateAttInStatus">
 	update tb_att
	   set att_status =  case
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('08:00:00','HH24:MI:SS') 
	        and to_date('09:10:59','HH24:MI:SS')
	        then  'O'
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('09:11:00','HH24:MI:SS') 
	        and to_date('14:00:59','HH24:MI:SS')
	        then  'L'
	    else 'X'
	  end
	 where emp_no= #{empNo}
   and att_status not in ('H', 'Y', 'V') 
   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>

<select id="selectInAttendance" resultMap="attendanceResult">
 	select to_char(sysdate, 'yyyy-mm-dd HH24:MI:SS') as "nowTime"
	     , nvl(lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')), 1) * 24),2 ,'0'), 0) as "gapHour"
	     , nvl(lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')) * 24, 1) * 60), 2, '0'), 0) as "gapMinute"
	     , nvl(lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')) * 24 * 60, 1) * 60), 2, '0'), 0) as "gapSecond"
	     , nvl(att_in, 0) "att_in"
	     , nvl(att_out, 0) "att_out"
		from tb_att
		where emp_no = #{empNo}
		 and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </select>
 
 <select id="selectLastWorkTime" resultMap="attendanceResult">
 	select nvl(lpad(trunc(mod((to_date(att_out, 'HH24:MI:SS') - to_date(att_in, 'HH24:MI:SS')), 1) * 24),2 ,'0'), 0) as "gapHour"
	     , nvl(lpad(trunc(mod((to_date(att_out, 'HH24:MI:SS') - to_date(att_in, 'HH24:MI:SS')) * 24, 1) * 60), 2, '0'), 0) as "gapMinute"
	     , nvl(lpad(trunc(mod((to_date(att_out, 'HH24:MI:SS') - to_date(att_in, 'HH24:MI:SS')) * 24 * 60, 1) * 60), 2, '0'), 0) as "gapSecond"
	from tb_att
   where emp_no = #{empNo}
		 and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </select>
 
  <update id="updateWorkOutTime">
 	update tb_att
	   set att_out = (select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual)
	 where emp_no = #{empNo}
	   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>
 
 
 <update id="updateAttOutStatus">
 	update tb_att
	   set att_status =  case
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('14:01:00','HH24:MI:SS') 
	        and to_date('17:30:00','HH24:MI:SS')
	        then  'E'
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('17:30:01','HH24:MI:SS') 
	        and to_date('18:30:59','HH24:MI:SS')
	        then  'O'
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('18:31:00','HH24:MI:SS') 
	        and to_date('07:59:59','HH24:MI:SS')
	        then  'L'
	    else 'X'
	  end
	 where emp_no= #{empNo}
   and att_status not in ('H', 'Y', 'V') 
   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>

  <select id="selectMyAttendance" resultMap="attendanceResult">
  select
distinct emp_no
     , att_date
     , nvl(att_in, '출근전') as att_in
     , nvl(att_out, '퇴근전') as att_out
     , ((select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'P') - (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'M')) as "GAP_YEAR_VAC"
    , ((select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'P') - (select nvl( sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'M'))  as "GAP_VAC"
    from tb_att
  where emp_no = #{empNo}
    and att_date = to_char(sysdate,'yyyy-mm-dd')
  </select>
  
  <select id="selectAllAttList" resultMap="attendanceResult">
  select emp_no
  		 , att_date
  	     , att_status
  	  from tb_att
  	 where emp_no = #{empNo}
  	   and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '-' || #{thisMonth} || '-01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
                        and to_date(to_char(sysdate,'YYYY-MM-DD'))

  </select>

  
  <select id="selectOtherAttList" resultMap="attendanceResult">
  select emp_no
  		 , att_date
  	     , att_status
  	  from tb_att
  	 where emp_no =  #{empNo}
  	   and att_date between to_date(to_char((select trunc((to_date(#{thisYear} || '-' || #{thisMonth} || '-01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
                        and to_date(to_char((select last_day(#{thisYear} || '-' || #{thisMonth} || '-01')from dual),'YYYY-MM-DD'))
  </select>
  
  
  <select id="selectCountList" resultMap="attendanceResult">
	 select (
        select count(*) as "countO"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'O'
    )as "countO"
     , (
        select count(*) as "countX"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'X' 
    )as "countX"
     , (
       select count(*) as "countL"
          from tb_att
         where emp_no = #{empNo}
          and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'L'   
    ) as "countL"
     , (
        select count(*) as "countE"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'E'  
    ) as "countE"
     , (
        select count(*) as "countYH"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status in ('Y' , 'H')
    ) as "countYH"
     , (
          select count(*) as "countV"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'V'
    ) as "countV"
     , (
        select sum(att_pwork_time)
          from tb_att
          where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
            and att_status = 'P'
    ) as "countPtime"
  from tb_att
  </select>
  
   <select id="selectOtherCountList" resultMap="attendanceResult">
	 select (
        select count(*) as "countO"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'O'
    )as "countO"
     , (
        select count(*) as "countX"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'X' 
    )as "countX"
     , (
       select count(*) as "countL"
          from tb_att
         where emp_no = #{empNo}
          and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'L'   
    ) as "countL"
     , (
        select count(*) as "countE"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'E'  
    ) as "countE"
     , (
        select count(*) as "countYH"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status in ('Y' , 'H')
    ) as "countYH"
     , (
          select count(*) as "countV"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'V'
    ) as "countV"
     , (
        select sum(att_pwork_time)
          from tb_att
          where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
            and att_status = 'P'
    ) as "countPtime"
  from tb_att
  </select>
  
  
  
  <insert id="insertAttendance">
  	DECLARE
	  date1 DATE := TO_DATE( #{thisYear} || '0101','yyyy-mm-dd');
	  date2 DATE := TO_DATE( #{thisYear} || '1231','yyyy-mm-dd');
	BEGIN
	  FOR i IN 1..(date2 - date1 + 1) LOOP
	   insert into tb_att ( att_no, emp_no, att_date, att_in, att_out, att_status, att_plus_work)
	   values (SEQ_ATT_NO.NEXTVAL, ${empNo}, (TO_CHAR(date1 + i - 1, 'yyyy-mm-dd')), null, null, 'B', 'N');
	  END LOOP;
	END;
  </insert>
  
  <update id="updateAttendanceStatus">
  <![CDATA[
  update tb_att
	set att_status = 'X'
	where emp_no =  ${empNo}
	  and att_date in 
	(select "att_date"
	   from(
	select level
	     , trunc(to_date(#{thisYear} || '0101', 'YY/MM/DD'), 'MM') + level -1 "att_date"
	     , to_char(trunc(to_date(#{thisYear} || '0101', 'YY/MM/DD'), 'MM') + level - 1 ,'DY') "요일"
	  from dual
	connect by level <= 364
	)
	where 요일 in ('월', '화', '수', '목', '금'))
  ]]>
  </update>
	
  <select id="selectVacList" resultMap="attendanceResult">
  	select
	    distinct
	       e.emp_no
	     , e.emp_name
	     , g.emp_grade
	     , g.gr_name
	     , e.emp_enroll_date
	     , (round(((trunc(months_between(sysdate,to_date(emp_enroll_date,'yy/mm/dd')) /12) *365)
	             + (trunc(mod(months_between(sysdate,to_date(emp_enroll_date,'yy/mm/dd')) /12,1) *12)*12)
	             + (trunc(mod(mod(months_between(sysdate,to_date(emp_enroll_date,'yy/mm/dd')) /12,1) *12,1) *(365/12))*1)) / 365, 1 )
	        ) as "work_year"
	  from tb_emp e
	  join tb_att a on (e.emp_no = a.emp_no)
	  join tb_grade g on (e.emp_grade = g.emp_grade)
	 where emp_status = 'Y'
	 <if test = "addSql == 'allWork'">
	 
	</if>
	 <if test = "addSql == 'underOne'">
		and emp_enroll_date
			BETWEEN TO_DATE((select to_char(add_months(sysdate,-12),'yyyy-mm-dd') from dual), 'YYYY-MM-DD')
			AND sysdate
	</if>
	<if test = "addSql == 'oneToFive'">
		and emp_enroll_date
			BETWEEN TO_DATE((select to_char(add_months(sysdate,-60),'yyyy-mm-dd') from dual), 'YYYY-MM-DD')
			AND TO_DATE((select to_char(add_months(sysdate,-11),'yyyy-mm-dd') from dual), 'YYYY-MM-DD')
	</if>
	<if test = "addSql == 'overFive'">
		and emp_enroll_date
			BETWEEN TO_DATE((select to_char(add_months(sysdate,-480),'yyyy-mm-dd') from dual), 'YYYY-MM-DD')
			AND TO_DATE((select to_char(add_months(sysdate,-59),'yyyy-mm-dd') from dual), 'YYYY-MM-DD')
	</if>
	 and e.emp_name like '%' || #{sqlEmpName } || '%'
	 order by  case when emp_grade = 'C' then 1
                    when emp_grade = 'A' then 2
                    when emp_grade = 'T' then 3
                    end
  </select>
  
   <select id="selectPerYearMonthList" resultMap="attendanceResult">
    <![CDATA[
  	select  round((select count(*)
            from tb_att
            where to_date(att_date,'yy/mm/dd') between to_date( #{beforeYear} || '/01/01','yy/mm/dd') and to_date(#{beforeYear} || '/12/31','yy/mm/dd')
            and emp_no = #{empNo}
            and att_status = 'O')
         / (select count(*)
               from(
                    select level
                         , trunc(to_date( #{beforeYear} || '/01/01', 'YY/MM/DD'), 'MM') + level -1 "att_date"
                         , to_char(trunc(to_date( #{beforeYear} || '/01/01', 'YY/MM/DD'), 'MM') + level - 1 ,'DY') "요일"
                      from dual
                   connect
                        by level <= 365
            )
	              where 요일 in ('월', '화', '수', '목', '금'))
	        * 100 , 1)
	        as "PER_YEAR"
		     , round((select count(*)
		            from tb_att
		            where to_date(att_date,'yy/mm/dd') between to_date(#{thisYear} || '/' || #{beforeMonth} || '/01','yy/mm/dd') and to_date(#{thisYear} || '/' || #{beforeMonth} || '/' || #{lastDay},'yy/mm/dd')
		            and emp_no = #{empNo}
		            and att_status = 'O')
		     / (select count(*)
		           from(
		                select level
		                     , trunc(to_date(#{thisYear} || '/' || #{beforeMonth} || '/01', 'YY/MM/DD'), 'MM') + level -1 "att_date"
		                     , to_char(trunc(to_date(#{thisYear} || '/' || #{beforeMonth} || '/01', 'YY/MM/DD'), 'MM') + level - 1 ,'DY') "요일"
		                  from dual
		               connect
		                    by level <= #{lastDay}
		        )
		          where 요일 in ('월', '화', '수', '목', '금'))
		    * 100 , 1)
		    as "PER_MONTH"
		from dual
		 ]]>
  </select>
  
  <select id="selectAttNo" resultType="_int">
  	select att_no
  	  from tb_att
  	 where emp_no = #{empNo}
  	   and att_date = to_char(to_date(#{attDate},'yyyy-mm-dd'), 'yyyy-mm-dd')
  </select>
  
  
  <update id="AdminUpdateAttInStatus">
 
   <!--update tb_att
	set att_status = #{attStatus}
	where att_no = #{attNo}-->
	update tb_att
	set att_status = #{attStatus}
	    , att_in = #{attIn} 
	where emp_no = #{empNo}
	and att_no = #{attNo}
  </update>
  
  <update id="AdminUpdateAttOutStatus">
  update tb_att
	set att_status = #{attStatus}
	    , att_out = #{attOut} 
	where emp_no = #{empNo}
	and att_no = #{attNo}
  </update>
   
  
  

</mapper>
