<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

<resultMap id="attendanceResult" type="Attendance">
		<result column="att_no" property="attNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="att_date" property="attDate"/>
		<result column="att_in" property="attIn"/>
		<result column="att_out" property="attOut"/>
		<result column="att_status" property="attStatus"/>
		<result column="att_plus_work" property="attPlusWork"/>
		<result column="att_nwork_time" property="attNworkTime"/>
		<result column="att_pwork_time" property="attPworkTime"/>
		<result column="countO" property="countO"/>
		<result column="countX" property="countX"/>
		<result column="countL" property="countL"/>
		<result column="countE" property="countE"/>
		<result column="countYH" property="countYH"/>
		<result column="countV" property="countV"/>
		<result column="countPtime" property="countPtime"/>
		<result column="nowTime" property="nowTime"/>
		<result column="gapHour" property="gapHour"/>
		<result column="gapMinute" property="gapMinute"/>
		<result column="gapSecond" property="gapSecond"/>
		<result column="attIn" property="attOut"/>
		<result column="attOut" property="attOut"/>
</resultMap>

<select id="attFlag" resultMap="attendanceResult">
		select nvl(att_in, '0') as "att_in"
     		 , nvl(att_out, '0') as "att_out"
		  from tb_att
		 where emp_no = #{empNo}
		   and att_date = to_char(sysdate,'yyyy-mm-dd')
	</select>

 <update id="updateWorkInTime">
 	update tb_att
	   set att_in = (select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual)
	 where emp_no = #{empNo}
	   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>
 
 
 <update id="updateAttInStatus">
 	update tb_att
	   set att_status =  case
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('08:00:00','HH24:MI:SS') 
	        and to_date('09:10:59','HH24:MI:SS')
	        then  'O'
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('09:11:00','HH24:MI:SS') 
	        and to_date('14:00:59','HH24:MI:SS')
	        then  'L'
	    else 'X'
	  end
	 where emp_no= #{empNo}
   and att_status not in ('H', 'Y', 'V') 
   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>

<select id="selectInAttendance" resultMap="attendanceResult">
 	select to_char(sysdate, 'yyyy-mm-dd HH24:MI:SS') as "nowTime"
	     , trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')), 1) * 24) as "gapHour"
	     , lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')) * 24, 1) * 60), 2, '0') as "gapMinute"
	     , lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')) * 24 * 60, 1) * 60), 2, '0') AS "gapSecond"
		from tb_att
		where emp_no = #{empNo}
		 and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </select>
 
  <update id="updateWorkOutTime">
 	update tb_att
	   set att_out = (select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual)
	 where emp_no = #{empNo}
	   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>
 
 
 <update id="updateAttOutStatus">
 	update tb_att
	   set att_status =  case
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('14:01:00','HH24:MI:SS') 
	        and to_date('17:30:00','HH24:MI:SS')
	        then  'E'
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('17:30:01','HH24:MI:SS') 
	        and to_date('18:30:59','HH24:MI:SS')
	        then  'O'
	    when 
	        to_date((select TO_CHAR(SYSDATE, 'HH24:MI:SS') from dual), 'HH24:MI:SS')
	        between to_date('18:31:00','HH24:MI:SS') 
	        and to_date('07:59:59','HH24:MI:SS')
	        then  'L'
	    else 'X'
	  end
	 where emp_no= #{empNo}
   and att_status not in ('H', 'Y', 'V') 
   and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </update>
  <!-- 
  <select id="selectOutAttendance" resultMap="attendanceResult">
 	select to_char(sysdate, 'yyyy-mm-dd HH24:MI:SS') as "nowTime"
	     , trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')), 1) * 24) as "gapHour"
	     , lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')) * 24, 1) * 60), 2, '0') as "gapMinute"
	     , lpad(trunc(mod((sysdate - to_date(att_in, 'HH24:MI:SS')) * 24 * 60, 1) * 60), 2, '0') AS "gapSecond"
		from tb_att
		where emp_no = #{empNo}
		 and att_date = to_char(sysdate, 'yyyy-mm-dd')
 </select> -->
  
  <select id="selectAllAttList" resultMap="attendanceResult">
  select emp_no
  		 , att_date
  	     , att_status
  	  from tb_att
  	 where emp_no = #{empNo}
  	   and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '-' || #{thisMonth} || '-01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
                        and to_date(to_char(sysdate,'YYYY-MM-DD'))
  	<!-- 
  	 select emp_no
  		 , att_date
  	     , att_status
  	  from tb_att
  	 where emp_no = #{empNo}
  	   and att_date BETWEEN TO_DATE(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
                        AND TO_DATE(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
  	
  	-->
  </select>
	<!-- // AND TO_DATE(to_char(sysdate,'YYYY-MM-DD')) --> 
	
  
  
  <select id="selectOtherAttList" resultMap="attendanceResult">
  select emp_no
  		 , att_date
  	     , att_status
  	  from tb_att
  	 where emp_no =  #{empNo}
  	   and att_date between to_date(to_char((select trunc((to_date(#{thisYear} || '-' || #{thisMonth} || '-01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
                        and to_date(to_char((select last_day(#{thisYear} || '-' || #{thisMonth} || '-01')from dual),'YYYY-MM-DD'))
  </select>
  
  
  <select id="selectCountList" resultMap="attendanceResult">
	 select (
        select count(*) as "countO"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'O'
    )as "countO"
     , (
        select count(*) as "countX"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'X' 
    )as "countX"
     , (
       select count(*) as "countL"
          from tb_att
         where emp_no = #{empNo}
          and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'L'   
    ) as "countL"
     , (
        select count(*) as "countE"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'E'  
    ) as "countE"
     , (
        select count(*) as "countYH"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status in ('Y' , 'H')
    ) as "countYH"
     , (
          select count(*) as "countV"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
           and att_status = 'V'
    ) as "countV"
     , (
        select sum(att_pwork_time)
          from tb_att
          where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					 and to_date(to_char(sysdate,'YYYY-MM-DD'))
            and att_status = 'P'
    ) as "countPtime"
  from tb_att
  </select>
  
   <select id="selectOtherCountList" resultMap="attendanceResult">
	 select (
        select count(*) as "countO"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'O'
    )as "countO"
     , (
        select count(*) as "countX"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'X' 
    )as "countX"
     , (
       select count(*) as "countL"
          from tb_att
         where emp_no = #{empNo}
          and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'L'   
    ) as "countL"
     , (
        select count(*) as "countE"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'E'  
    ) as "countE"
     , (
        select count(*) as "countYH"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status in ('Y' , 'H')
    ) as "countYH"
     , (
          select count(*) as "countV"
          from tb_att
         where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
           and att_status = 'V'
    ) as "countV"
     , (
        select sum(att_pwork_time)
          from tb_att
          where emp_no = #{empNo}
           and att_date between to_date(to_char((select trunc((to_date( #{thisYear} || '/' || #{thisMonth} || '/01','YYYY-MM-DD')), 'MM') from dual),'YYYY-MM-DD')) 
  	   					and to_date(to_char((select last_day( #{thisYear} || '/' || #{thisMonth} || '/01') from dual),'YYYY-MM-DD'))
            and att_status = 'P'
    ) as "countPtime"
  from tb_att
  </select>
  
  
  
  <insert id="insertAttendance">
  	DECLARE
	  date1 DATE := TO_DATE( #{thisYear} || '0101','yyyy-mm-dd');
	  date2 DATE := TO_DATE( #{thisYear} || '1231','yyyy-mm-dd');
	BEGIN
	  FOR i IN 1..(date2 - date1 + 1) LOOP
	   insert into tb_att ( att_no, emp_no, att_date, att_in, att_out, att_status, att_plus_work)
	   values (SEQ_ATT_NO.NEXTVAL, ${empNo}, (TO_CHAR(date1 + i - 1, 'yyyy-mm-dd')), null, null, 'B', 'N');
	  END LOOP;
	END;
  </insert>
  
  <update id="updateAttendanceStatus">
  <![CDATA[
  update tb_att
	set att_status = 'X'
	where emp_no =  ${empNo}
	  and att_date in 
	(select "att_date"
	   from(
	select level
	     , trunc(to_date('22/01/01', 'YY/MM/DD'), 'MM') + level -1 "att_date"
	     , to_char(trunc(to_date('22/01/01', 'YY/MM/DD'), 'MM') + level - 1 ,'DY') "요일"
	  from dual
	connect by level <= 365
	)
	where 요일 in ('월', '화', '수', '목', '금'))
  ]]>
  </update>


</mapper>
