<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
  <resultMap id="chatResult" type="Chat">
  	<result column="emp_no" property="empNo"/>
  </resultMap>
  
  <select id="selectChatEmpList" resultMap="chatResult">
  	select emp_no
	     , emp_name
	     , nvl(e.emp_photo, 'resources/profile_images/defaultProfile.png') as "emp_photo"
	     , g.gr_name
	     , e.emp_grade
	     , e.emp_status
	  from tb_emp e
	  join tb_grade g on (e.emp_grade = g.emp_grade)
	 where emp_status =  'Y'
  </select>
  
</mapper>

