<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
  <resultMap id="chatResult" type="Chat">
  	<result column="chat_room_no" property="chatRoomNo"/>
  	<result column="emp_no" property="empNo"/>
  	<result column="chat_iorg" property="chatIorg"/>
  	<result column="chat_create_date" property="chatCreateDate"/>
  	<result column="chat_delete_date" property="chat_deleteDate"/>
  	<result column="chat_status" property="chatStatus"/>
  	<result column="inv_in_date" property="invInTime"/>
  	<result column="inv_out_time" property="invOutTime"/>
  	<result column="inv_emp_no" property="invEmpNo"/>
  	<result column="bbl_no" property="bblNo"/>
  	<result column="bbl_content" property="bblContent"/>
  	<result column="bbl_date" property="bblDate"/>
  	
  	
  	<result column="emp_name" property="empName"/>
  	<result column="emp_photo" property="empPhoto"/>
  	<result column="gr_name" property="grName"/>
  	<result column="emp_grade" property="empGrade"/>
  	<result column="emp_status" property="empStatus"/>
  </resultMap>
  
  <select id="selectChatEmpList" resultMap="chatResult">
  	select emp_no
	     , emp_name
	     , nvl(e.emp_photo, 'resources/profile_images/defaultProfile.png') as "emp_photo"
	     , g.gr_name
	     , e.emp_grade
	     , e.emp_status
	  from tb_emp e
	  join tb_grade g on (e.emp_grade = g.emp_grade)
	 where emp_status =  'Y'
	 <if test="searchText != ''">
		   and emp_name like ('%' || #{searchText} || '%')
	</if>
  </select>
  
  <select id="countRoomFlag" resultMap="chatResult">
	select nvl(c.chat_room_no, 0) as chat_room_no
	     , c.emp_no as "emp_no"
	     , i.emp_no as "inv_emp_No"
	     , c.chat_iorg
	     , c.chat_create_date
	     , c.chat_status
	  from tb_chat c
	  join tb_invite i on (c.chat_room_no = i.chat_room_no)
	  where c.emp_no in( #{empNo} , #{invEmpNo})
	   and i.emp_no in( #{empNo} , #{invEmpNo})
  </select>
  
  <select id="selectInvEmp" resultMap="chatResult">
  	select e.emp_no
  		 , e.emp_name
  		 , g.gr_name
  		 , nvl(e.emp_photo, 'resources/profile_images/defaultProfile.png') as "emp_photo"
  	  from tb_emp e
  	  join tb_grade g on (e.emp_grade = g.emp_grade)
  	 where emp_no = #{invEmpNo}
  </select>
  
  <select id="selectBubbleList" resultMap="chatResult">
  	select b.bbl_no
     , b.chat_room_no
     , b.emp_no
     , e.emp_name
     , nvl(e.emp_photo, 'resources/profile_images/defaultProfile.png') as "emp_photo"
     , g.gr_name
     , b.bbl_content
     , to_char(b.bbl_date, 'yyyy-mm-dd HH24:MI:SS') as "bbl_date"
  from tb_bubble b
  join tb_emp e on (e.emp_no = b.emp_no)
  join tb_grade g on (e.emp_grade = g.emp_grade)
	 where b.chat_room_no = #{chatRoomNo}
	 order by bbl_date asc
  </select>
  
  <insert id="insertChatInviteFirst">
	insert all
	  into tb_chat
	    (
	       chat_room_no
	     , emp_no
	     , chat_iorg
	     , chat_create_date
	     , chat_delete_date
	     , chat_status
	    )
	values
	    (
	      SEQ_CROOM_NO.nextval
	    , #{empNo}
	    , 'I'
	    , sysdate
	    , sysdate
	    , 'Y'
	    )
	
	  into tb_invite
	    (
	       chat_room_no
	     , emp_no
	     , inv_in_date
	     , inv_out_date
	    )
	values
	    (
	      SEQ_CROOM_NO.CURRVAL
	    , #{invEmpNo}
	    , sysdate
	    , sysdate
	    )
	select * from dual  
  </insert>
  
  <insert id="insertBubble">
  insert
  into tb_bubble
    (
       bbl_no
     , chat_room_no
     , emp_no
     , bbl_content
     , bbl_date
    )
values
    (
        SEQ_BBL_NO.nextval
       , #{chatRoomNo}
       , #{empNo}
       , #{bblContent}
       , sysdate
    )
  </insert>
  
</mapper>

