<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classMapper">

	<resultMap id="replyResult" type="Reply">
		<result column="re_no" property="replyNo" />
		<result column="re_writer" property="replyWriter" />
		<result column="re_content" property="replyContent" />
		<result column="re_date" property="replyDate" />
		<result column="re_status" property="replyStatus" />
		<result column="writer_name" property="writerName" />
		<result column="writer_type" property="writerType" />
	</resultMap>
	
	
	<resultMap type="User" id="userResult">
		<result column="user_no" property="userNo"/>
		<result column="user_name" property="userName"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_birth" property="userBirth"/>
		<result column="user_type" property="userType"/>
		<result column="user_profile_url" property="userProfileUrl"/>
		<result column="user_sdate" property="userStartDate"/>
		<result column="user_edate" property="userEndDate"/>
		<result column="user_pt" property="userPt"/>
		<result column="user_status" property="userStatus"/>
		
		<result column="cl_no" property="classNo" />
		<result column="emp_no" property="empNo" />
		<result column="cl_sdate" property="classStartDate" />
		<result column="cl_count" property="classCount" />
	</resultMap>
	
	
	<resultMap type="Diet" id="dietResult">
		<result column="di_no" property="dietNo" />
		<result column="cl_no" property="classNo" />
		<result column="di_date" property="dietDate" />
		<result column="di_bf_content" property="bfContent" />
		<result column="di_bf_img" property="bfImage" />
		<result column="di_lc_content" property="lcContent" />
		<result column="di_lc_img" property="lcImage" />
		<result column="di_dn_content" property="dnContent" />
		<result column="di_dn_img" property="dnImage" />
		<result column="di_enroll" property="dietEnroll" />
		<result column="di_re_content" property="reContent" />
		<result column="di_re_img" property="reImage" />
		<result column="user_no" property="userNo" />
	</resultMap>


	<resultMap type="Exercise" id="exerciseResult">
		<result column="cl_no" property="classNo" />
		<result column="ex_date" property="exDate" />
		<result column="ex_writer" property="exWriter" />
		<result column="ex_title" property="exTitle" />
		<result column="ex_count" property="exCount" />
		<result column="ex_set" property="exSet" />
		<result column="ex_coment" property="exComent" />
		<result column="ex_link" property="exLink" />
		<result column="ex_status" property="exStatus" />
		<result column="ex_no" property="exNo" />
	</resultMap>


	<select id="selectUser" resultMap="userResult">
		select 
			   user_no
			 , user_name
			 , user_phone
			 , user_gender
			 , to_char(to_date(user_birth), 'YYYY/ MM/ DD') as "user_birth"
		  from tb_user
		 where user_type = 'P'
		   and user_status = 'Y'
		   and user_pt = 'N'
		   and user_no = #{ userNo }
	</select>
	
	
	<insert id="insertClass">
		insert
		  into tb_class
		  (
		  	cl_no
		  , emp_no
		  , user_no
		  , user_height
		  , user_weight
		  , cl_sdate
		  , cl_count
		  , cl_goal
		  , cl_result
		  )
		  values
		  (
		  	seq_clno.nextval
		  , #{empNo}
		  , #{userNo}
		  , #{userHeight}
		  , #{userWeight}
		  , #{classStartDate}
		  , #{classCount}
		  , #{classGoal}
		  , #{classResult}
		  )
	</insert>
	
	
	
	<update id="updateStatus">
		update
			   tb_user
		   set user_pt = 'Y'
		 where user_no = #{userNo}
	</update>
	
	
	
	<select id="selectUserList" resultMap="userResult">
		select 
			   user_no
			 , user_name
			 , user_gender
			 , user_birth
			 , user_phone
			 , cl_no
			 , cl_sdate
			 , cl_count
		  from tb_user
		  join tb_class
		 using (user_no)
		 where emp_no = #{empNo}
	</select>
	
	
	
	<!-- 해당 회원의 모든 운동내역 조회 (달력에 뿌릴)-->
	<select id="selectExercise" resultMap="exerciseResult">
		select cl_no
			 , ex_date
			 , ex_writer
			 , ex_title
			 , ex_count
			 , ex_set
			 , ex_coment
			 , ex_link
			 , ex_status
			 , ex_no
		  from tb_exercise
		 where cl_no = #{classNo}
		 order
		    by ex_no
	</select>
	
	
	
	<!-- 해당 회원의 특정 날짜에 대한 운동내역 조회 -->
	<select id="selectExerciseList" resultMap="exerciseResult">
		select
			   cl_no
			 , ex_date
			 , ex_writer
			 , ex_title
			 , ex_count
			 , ex_set
			 , ex_coment
			 , ex_link
			 , ex_status
			 , ex_no
		  from tb_exercise
		 where cl_no = #{classNo}
		   and ex_date = #{exDate}
		 order
		    by ex_no
	</select>
	 
	 
	<!-- 수정을 위해 특정 운동만을 조회 -->
	<select id="selectEx" resultMap="exerciseResult">
		select cl_no
			 , ex_date
			 , ex_writer
			 , ex_title
			 , ex_count
			 , ex_set
			 , ex_coment
			 , ex_link
			 , ex_status
			 , ex_no
		  from tb_exercise
		 where ex_no = #{exNo}
	</select>
	
	 
	 
	 
	<insert id="insertExercise">
		insert
		  into tb_exercise
		  (
		  	cl_no
		  , ex_date
		  , ex_writer
		  , ex_title
		  , ex_count
		  , ex_set
		  , ex_coment
		  , ex_link
		  , ex_status
		  , ex_no
		  )
		  values
		  (
		  	#{classNo}
		  , to_char(sysdate, 'YY/MM/DD')
		  , #{exWriter}
		  , #{exTitle}
		  , #{exCount}
		  , #{exSet}
		  , #{exComent}
		  , #{exLink}
		  , 'N'
		  , seq_exno.nextval
		  )
	</insert>
	
	
	<update id="updateCheck">
		update tb_exercise
		   set ex_status = 'Y'
		 where ex_no = #{exNo}
	</update>
	
	
	
	<delete id="deleteExercise">
		delete 
		  from tb_exercise
		 where ex_no = #{exNo}
	</delete>
	
	
	
	<update id="updateExercise">
		update tb_exercise
		   set ex_title = #{exTitle}
		     , ex_count = #{exCount}
		     , ex_set = #{exSet}
		     , ex_coment = #{exComent}
		     , ex_status = 'N'
		 where ex_no = #{exNo}
	</update>
	
	
	
	
	<!-- 해당 회원의 모든 식단내역 조회 -->
	<select id="selectDiet" resultMap="dietResult">
		select di_no
		     , cl_no
		     , di_date
		     , di_bf_content
		     , di_bf_img
		     , di_lc_content
		     , di_lc_img
		     , di_dn_content
		     , di_dn_img
		     , di_enroll
		     , di_re_content
		     , di_re_img
		  from tb_diet
		 where cl_no = #{classNo}
		 order
		    by di_date
   </select>
   
   
   
   <select id="selectDietDetail" resultMap="dietResult">
		select di_no
		     , cl_no
		     , di_date
		     , di_bf_content
		     , di_bf_img
		     , di_lc_content
		     , di_lc_img
		     , di_dn_content
		     , di_dn_img
		     , di_enroll
		     , di_re_content
		     , di_re_img
		     , user_no
		  from tb_diet
		  join tb_class using (cl_no)
		 where di_date = #{dietDate}
		   and cl_no = #{classNo}
   </select>
   
	
	
	<insert id="insertReply">
		insert
		  into tb_reply
		  (
		  	re_no
	  	  , di_no
	  	  , re_writer
	  	  , re_content
	  	  , re_date
	  	  , writer_name
	  	  , writer_type
		  )
		  values
		  (
		  	seq_reno.nextval
		  , #{dietNo}
		  , #{replyWriter}
		  , #{replyContent}
		  , sysdate
		  , #{writerName}
		  , #{writerType}
		  )
	</insert>
	
	

	<select id="selectReplyList" resultMap="replyResult">
		select 
			   re_no
			 , re_writer
			 , writer_name
			 , re_content
			 , to_char(re_date, 'YYYY.MM.DD HH24:MI:SS') as "re_date"
			 , writer_type
		  from tb_reply
		 where re_status = 'Y'
		   and di_no = #{dietNo}
		 order 
		    by re_no
	</select> 
	
	
	
	<update id="updateReply">
		update tb_reply
		   set re_content = #{replyContent}
		   	 , re_date = sysdate
		 where re_no = #{replyNo}
	</update>	
	
	
	
	<delete id="deleteReply">
		delete 
		  from tb_reply
		 where reply_no = #{replyNo}
	</delete>
	
	
</mapper>
