<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="machineMapper">

	<resultMap id="MachineResult" type="Machine">
		<result column="mc_no" property="mcNo" />
		<result column="mc_name" property="mcName" />
		<result column="mc_status" property="mcStatus" />
		<result column="mc_img" property="mcImg" />
		<result column="mc_enroll_date" property="mcEnrollDate" />
	</resultMap>
	
	<resultMap id="CheckResult" type="Machine">
		<result column="ck_no" property="ckNo"/>
		<result column="ck_date" property="ckDate"/>
		<result column="ck_content" property="ckContent"/>
		<result column="ck_img" property="ckImg"/>
		<result column="ck_result" property="ckResult"/>
		<result column="mc_no" property="mcNo"/>
		<result column="mc_name" property="mcName"/>
		<result column="ck_title" property="ckTitle"/>
		<result column="ck_writer" property="ckWriter"/>
		<result column="ck_writer_name" property="ckWriterName"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select 
				count(*)
		   from tb_machine
	</select>
	
	<select id="selectList" resultMap="MachineResult">
		select
				mc_no
			  , mc_name
			  , mc_status
			  , mc_img
			  , to_char(mc_enroll_date, 'YYYY-MM-DD') AS "mc_enroll_date"
		   from tb_machine
		  order
		     by mc_no	
	</select>
	
	<insert id="insertMachine">
		insert
		  into tb_machine
		  (
		  	mc_no
		  , mc_name
		  , mc_status
		  , mc_img
		  , mc_enroll_date
		  )
		  values
		  (
		  	seq_mc_no.nextval
		  , #{mcName}
		  , '1'
		  , #{mcImg}
		  , sysdate
		  )
	</insert>
	
	<delete id="deleteMachine">
		delete
		  from tb_machine
		 where mc_no = #{mcNo}
	</delete>
	
	<select id="selectCheckListCount" resultType="_int">
		select 
				count(*)
		   from tb_check
	</select>
	
	<select id="selectCheckList" resultMap="CheckResult">
		select
				ck_no
			  , to_char(ck_date, 'YYYY-MM-DD') AS "ck_date"
			  , ck_content
			  , ck_img
			  , ck_result
			  , mc_name as "mc_name"
			  , ck_title
			  , e.emp_name "ck_writer_name"
		   from tb_check c, tb_machine m, tb_emp e
           where c.mc_no = m.mc_no
             and c.ck_writer = e.emp_no
		  order
		     by ck_no desc
	</select>
	
	<select id="selectAllMachine" resultMap="MachineResult">
		select
				mc_no
			  , mc_name
		   from tb_machine
	</select>
	
	<insert id="insertCheck">
		insert
		  into tb_check
		  (
		  	ck_no
		  , ck_date
		  , ck_content
		  , ck_img
		  , mc_no
		  , ck_title
		  , ck_writer
		  )
		  values
		  (
		  	seq_ck_no.nextval
		  , sysdate
		  , #{ckContent}
		  , #{ckImg}
		  , #{mcNo}
		  , #{ckTitle}
		  , #{ckWriter}
		  )
	</insert>
	
	<select id="selectCheck" resultMap="CheckResult">
		select
				ck_title
			  , ck_no
			  , mc_no
			  , mc_name
			  , ck_writer
			  , e.emp_name AS "ck_writer_name"  
			  , to_char(ck_date, 'YYYY-MM-DD') AS "ck_date"
			  , ck_content
			  , ck_result
			  , ck_img
		   from tb_check c 
		   join tb_machine m using(mc_no)
		   join tb_emp e on (c.ck_writer = e.emp_no)
		  where ck_no = #{ckNo}
	</select>
	
	<update id="updateCheckState">
		update
				tb_check
		    set ck_result = '2'
		  where ck_no = #{ckNo} 
	</update>
	
	<update id="updateMachineBroken">
		update
				tb_machine
		    set mc_status = '2'
		  where mc_no = #{mcNo}
	</update>
	
	<update id="deleteCheck">
		delete
		  from tb_check
		 where ck_no = #{ckNo}
	</update>
</mapper>