<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="machineMapper">

	<resultMap id="MachineResult" type="Machine">
		<result column="mc_no" property="mcNo" />
		<result column="mc_name" property="mcName" />
		<result column="mc_status" property="mcStatus" />
		<result column="mc_img" property="mcImg" />
		<result column="mc_enroll_date" property="mcEnrollDate" />
	</resultMap>
	
	<resultMap id="CheckResult" type="Machine">
		<result column="ck_no" property="ckNo"/>
		<result column="ck_date" property="ckDate"/>
		<result column="ck_img" property="ckImg"/>
		<result column="ck_result" property="ckResult"/>
		<result column="mc_name" property="mcName"/>
		<result column="ck_title" property="ckTitle"/>
		<result column="ck_writer" property="ckWriter"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select 
				count(*)
		   from tb_machine
	</select>
	
	<select id="selectList" resultMap="MachineResult">
		select
				mc_no
			  , mc_name
			  , mc_status
			  , mc_img
			  , to_char(mc_enroll_date, 'YYYY-MM-DD') AS "mc_enroll_date"
		   from tb_machine
		  order
		     by mc_no	
	</select>
	
	<insert id="insertMachine">
		insert
		  into tb_machine
		  (
		  	mc_no
		  , mc_name
		  , mc_status
		  , mc_img
		  , mc_enroll_date
		  )
		  values
		  (
		  	seq_mc_no.nextval
		  , #{mcName}
		  , '1'
		  , #{mcImg}
		  , sysdate
		  )
	</insert>
	
	<delete id="deleteMachine">
		delete
		  from tb_machine
		 where mc_no = #{mcNo}
	</delete>
	
	<select id="selectCheckListCount" resultType="_int">
		select 
				count(*)
		   from tb_check
	</select>
	
	<select id="selectCheckList" resultMap="CheckResult">
		select
				ck_no
			  , to_char(ck_date, 'YYYY-MM-DD') AS "ck_date"
			  , ck_content
			  , ck_img
			  , ck_result
			  , mc_name as "mc_name"
			  , ck_title
			  , ck_writer
		   from tb_check c, tb_machine m
           where c.mc_no = m.mc_no
		  order
		     by ck_date desc
	</select>
</mapper>