<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">

	<resultMap type="Booking" id="bookingResult">
		<result column="book_no" property="bookNo" />
		<result column="cl_no" property="clNo" />
		<result column="user_no" property="userNo" />
		<result column="emp_no" property="empNo" />
		<result column="book_date" property="bookDate" />
		<result column="book_stime" property="bookStime" />
		<result column="book_etime" property="bookEtime" />
		<result column="book_status" property="bookStatus" />
		<result column="cl_status" property="clStatus" />
		<result column="emp_name" property="empName" />
		<result column="user_name" property="userName" />
	</resultMap>
	
	<!-- 1. 직원 스케줄 전체조회 -->
	<select id="selectList" resultMap="bookingResult">
		select
			    b.book_no <!-- pk조회 -->
			,   e.emp_name
			,	b.emp_no
			,   u.user_name
			,   b.book_date
			,   b.book_stime
			,   b.book_etime
		 from 	tb_booking b, tb_emp e, tb_user u
		where 	b.user_no = u.user_no
		  and 	b.emp_no = e.emp_no
		  and	b.book_status = 'Y'
		  and   b.cl_status = 'Y'
	</select>
	
	<!-- 2. 회원 스케줄 전체조회 -->
	<select id="selectEmp" resultType="string">
		 select	  distinct
	              emp_no
	           ,  user_no
	       from   tb_booking
	      where   user_no = #{userNo}
	        and   book_status = 'Y'
	        and   cl_status = 'Y'
	</select>
	
	<select id="selectUlist" resultMap="bookingResult">
		select
	              b.book_no    
	          ,   b.user_no
	          ,	  u.user_name
	          ,   e.emp_name
	          ,   b.cl_no
	          ,   b.book_date
	          ,   b.book_stime
	          ,   b.book_etime
		   from   tb_booking b, tb_emp e, tb_user u
		  where   b.user_no = u.user_no
		    and   b.emp_no = e.emp_no
		    and   b.book_status = 'Y'
		    and   b.cl_status = 'Y'
		    and   b.emp_no = #{empNo}
	</select>
	
	<!-- 3. 회원 예약 상세조회 -->
	<select id="selectUdetailList" resultMap="bookingResult">
	  select
	            b.book_no    
	        ,   e.emp_name
	        ,	b.user_no
	        ,   b.cl_no
	        ,   b.book_date
	        ,   b.book_stime
	        ,   b.book_etime
		from 	tb_booking b, tb_emp e, tb_user u
	   where 	b.user_no = u.user_no
	   	 and 	b.emp_no = e.emp_no
	     and 	b.book_status = 'Y'
	     and 	b.cl_status = 'Y'
	     and 	b.book_no = #{bookNo}
	</select>
	 
	 <!-- 4. 회원 수업 예약 -->
	<insert id="insertBooking">
		insert
		  into	tb_booking
		  	 (
		  	 	book_no
		  	 ,	cl_no
		  	 ,	user_no
		  	 ,	emp_no
		  	 ,	book_date
		  	 ,	book_stime
		  	 ,	book_etime
		     )
	    values
	    	 (
	    	 	seq_book_no.nextval
	    	 ,	#{clNo}
	    	 ,	#{userNo}
	    	 ,	#{empNo}
	    	 ,	#{bookDate}
	    	 ,	#{bookStime}
	    	 ,	#{bookEtime}
	    	 )
	</insert>
	
	<!-- 5. 회원 수업 예약 변경 -->
	<update id="updateBooking">
		update
				tb_booking
		   set	book_date = #{bookDate}
		     ,	book_stime = #{bookStime}
		     ,	book_etime = #{bookEtime}
		 where	book_no = #{bookNo}
	</update>
	
	<!-- 6. 회원 수업 예약 취소 -->
	<update id="deleteBooking">
		delete
		  from	tb_booking
		 where	book_no = #{bookNo}
	</update>
	
</mapper>