<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userClassMapper">


	<resultMap id="userClassResult" type="UserClass">
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="user_phone" property="userPhone" />
		<result column="user_gender" property="userGender" />
		<result column="user_birth" property="userBirth" />
		<result column="user_profile_url" property="userProfileUrl" />
		<result column="cl_no" property="classNo" />
		<result column="emp_no" property="empNo" />
		<result column="user_height" property="userHeight" />
		<result column="user_weight" property="userWeight" />
		<result column="cl_sdate" property="classStartDate" />
		<result column="cl_count" property="classCount" />
		<result column="cl_goal" property="classGoal" />
		<result column="cl_result" property="classResult" />
		<result column="emp_name" property="empName" />
	</resultMap> 
	
	
	<resultMap id="dietResult" type="Diet">
		<result column="di_no" property="dietNo" />
		<result column="cl_no" property="classNo" />
		<result column="di_date" property="dietDate" />
		<result column="di_bf_content" property="bfContent" />
		<result column="di_bf_img" property="bfImage" />
		<result column="di_lc_content" property="lcContent" />
		<result column="di_lc_img" property="lcImage" />
		<result column="di_dn_content" property="dnContent" />
		<result column="di_dn_img" property="dnImage" />
		<result column="di_enroll" property="dietEnroll" />
		<result column="di_re_content" property="reContent" />
		<result column="di_re_img" property="reImage" />
	</resultMap>



   <select id="loginUser" resultMap="userClassResult">
		select 
               u.user_no
		 	 , u.user_name
		 	 , u.user_phone
		 	 , u.user_gender
		 	 , u.user_birth
		 	 , u.user_profile_url
		 	 , c.cl_no
		 	 , c.emp_no
		 	 , c.user_height
		 	 , c.user_weight
		 	 , c.cl_sdate
		 	 , c.cl_count
		 	 , c.cl_goal
		 	 , c.cl_result
		 	 , e.emp_name
		  from tb_user u 
		  join tb_class c
		    on (u.user_no = c.user_no)
		  join tb_emp e
            on (c.emp_no = e.emp_no)  
		 where u.user_type = 'P'
		   and u.user_status = 'Y'
		   and u.user_phone = #{userPhone}
		   and u.user_birth = #{userBirth}
   </select>  
   
   
   
   <select id="selectUserDiet" resultMap="dietResult">
		select di_no
		     , cl_no
		     , di_date
		     , di_bf_content
		     , di_bf_img
		     , di_lc_content
		     , di_lc_img
		     , di_dn_content
		     , di_dn_img
		     , di_enroll
		     , di_re_content
		     , di_re_img
		  from tb_diet
		 where di_date = to_date(#{dietDate}, 'YY/MM/DD')
		   and cl_no = #{classNo}
   </select>
   
   
   
	<insert id="insertUserDiet">
		insert
		  into tb_diet
		  (
		  	di_no
		  , cl_no
		  , di_date
		  , di_bf_content
		  , di_bf_img
		  , di_lc_content
		  , di_lc_img
		  , di_dn_content
		  , di_dn_img
		  , di_enroll
		  , di_re_content
		  , di_re_img
		  )
		  values
		  (
		  	seq_dino.nextval
		  , #{classNo}
		  , #{dietDate}
		  , #{bfContent}
		  , #{bfImage}
		  , #{lcContent}
		  , #{lcImage}
		  , #{dnContent}
		  , #{dnImage}
		  , 'Y'
		  , #{reContent}
		  , #{reImage}
		  )
	</insert>


	<update id="updateDietBoard">
		update tb_diet
           set
           	   di_bf_content = #{bfContent}
             , di_bf_img = #{bfImage}
             , di_lc_content = #{lcContent}
             , di_lc_img = #{lcImage}
             , di_dn_content = #{dnContent}
             , di_dn_img = #{dnImage}
             , di_re_content = #{reContent}
             , di_re_img = #{reImage}
         where di_no = #{dietNo}
           and di_enroll = 'Y'
	</update>




</mapper>
