<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">

<resultMap id="vacationResult" type="Vacation">
	<result column="plus_year_vac" property="plusYearVac"/>
	<result column="minus_year_vac" property="minusYearVac"/>
	<result column="plus_vac" property="plusVac"/>
	<result column="minus_vac" property="minusVac"/>
</resultMap>


<select id="selectEmpVacList" resultMap="vacationResult">
  	select (select sum(vac_oper)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'P') as "PLUS_YEAR_VAC"
     , (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'M') as "MINUS_YEAR_VAC"
     , (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'P') as "PLUS_VAC"
     , (select nvl( sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'M') as "MINUS_VAC"
	from tb_vacation
  </select>
</mapper>
