<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">

<resultMap id="vacationResult" type="Vacation">
	<result column="plus_year_vac" property="plusYearVac"/>
	<result column="minus_year_vac" property="minusYearVac"/>
	<result column="gap_year_vac" property="gapYearVac"/>
	<result column="plus_vac" property="plusVac"/>
	<result column="minus_vac" property="minusVac"/>
	<result column="gap_vac" property="gapVac"/>
	<result column="emp_no" property = "empNo"/>
	<result column="emp_name" property = "empName"/>
	<result column="gr_name" property = "grName"/>
	<result column="emp_photo" property = "empPhoto"/>
</resultMap>


<select id="selectEmpVacList" resultMap="vacationResult">
  	select (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no =#{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'P') as "PLUS_YEAR_VAC"
     , (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no =#{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'M') as "MINUS_YEAR_VAC"
     , ((select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no =#{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'P') - (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no =#{empNo}
            and att_status in ('Y', 'H')
            and vac_status = 'M')) as "GAP_YEAR_VAC"
     , (select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'P') as "PLUS_VAC"
     , (select nvl( sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'M') as "MINUS_VAC"
      ,  ((select nvl(sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'P') - (select nvl( sum(vac_oper), 0)
            from tb_vacation
            where emp_no = #{empNo}
            and att_status in ('V')
            and vac_status = 'M'))  as "GAP_VAC"
	from tb_vacation
  </select>
  
  <insert id="insertVacation">
  	insert
		into tb_vacation(
	        vac_no
	      , emp_no
	      , vac_oper
	      , vac_status
	      , vac_normal
	      , vac_create_date
	      , att_status
	    ) 
		values
		    (
		        SEQ_VAC_NO.NEXTVAL
		      , #{empNo}
		      , #{vacOper}
		      , 'P'
		      , #{vacNormal}
		      , sysdate
		      , #{attStatus}
		    ) 
  </insert>
  
  <insert id="deleteVacation">
  	insert
		into tb_vacation(
	        vac_no
	      , emp_no
	      , vac_oper
	      , vac_status
	      , vac_normal
          , vac_start
          , vac_end
	      , vac_create_date
	      , att_status
	    ) 
		values
		    (
		        SEQ_VAC_NO.NEXTVAL
		      , #{empNo}
		      , #{vacOper}
		      , 'M'
		      , #{vacNormal}
              , #{vacStart}
              , #{vacEnd}
		      , sysdate
		      , #{attStatus}
		    ) 
  </insert>
  
  <select id="selectOneVacation" resultMap="vacationResult">
  	select
	       e.emp_no
	     , e.emp_name
	     , g.gr_name
	     , e.emp_photo
	  from tb_emp e
	  join tb_grade g on (e.emp_grade = g.emp_grade)
	 where e.emp_no = #{empNo}
  </select>
</mapper>
